<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Showcase of Flex">
    <meta name="author" content="Tomáš Ráčil">
    <meta name="keywords" content="CSS, Learning, ...">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Flex</title>
</head>

<style>
    .wrapper {
  display: flex;
}
.wrapper > div {
    flex: 1;
    background-color: teal;
    margin: 2px;
    text-align: center;
}
</style>

<body>
    <div class="wrapper">
        <div class="box1">One</div>
        <div class="box2">Two</div>
        <div class="box3">Three</div>
      </div>   
      <a  class="box4" href="../layout.html">layouts</a>
</body>

</html>